:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--OBR-font);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --OBR-font: white;
    --OBR-font-transparent: rgba(255, 255, 255, 0.5);

    --OBR-offset-foreground: rgb(230, 230, 238);
    --OBR-offset-background: rgb(49, 49, 65);

    --OBR-light-blue: rgb(68, 71, 83);
    --OBR-light-blue-transparent: rgb(60, 62, 75, 0.5);

    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-transparent: rgba(30, 34, 49, 0.5);

    --OBR-dark-purple: rgb(58, 30, 38);
    --OBR-dark-purple-transparent: rgba(58, 30, 38, 0.5);

    --OBR-Purple-Select: rgb(187, 153, 255);
    --OBR-Purple-Select-transparent: rgb(187, 153, 255, 0.5);

    --BS-Pink: #cf3470;
    --background-color: #242424;
    --foreground-color: white;
    --soft-outline: rgb(110, 110, 110);

    --invert: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --OBR-font: black;
        --OBR-font-transparent: rgba(0, 0, 0, 0.5);

        --OBR-offset-foreground: rgb(44, 44, 46);
        --OBR-offset-background: rgb(210, 210, 223);

        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-light-blue-transparent: rgb(231, 233, 238, 0.5);

        --OBR-dark-blue: rgb(183, 184, 189);
        --OBR-dark-blue-transparent: rgba(183, 184, 189, 0.5);

        --OBR-Purple-Select: rgb(153, 102, 255);
        --OBR-Purple-Select-transparent: rgb(153, 102, 255, 0.5);

        --OBR-dark-purple: rgb(236, 156, 178);
        --OBR-dark-purple-transparent: rgba(236, 156, 178, 0.5);

        --foreground-color: #242424;
        --background-color: white;
        --soft-outline: rgb(146, 146, 146);

        --invert: invert(1);
    }
}

html {
    height: 100%;
    display: flex;
}

body {
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
    scrollbar-gutter: stable;
}


/* Buttons */
select,
button,
input {
    vertical-align: middle;
    box-sizing: border-box;
    color: var(--OBR-font);
    background-color: var(--OBR-light-blue);
    padding: 6px;
    border: none;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 2px;
}

select:hover,
button:hover,
input[type=button]:hover {
    background-color: var(--OBR-Purple-Select);
}

select option {
    background-color: var(--OBR-light-blue);
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: var(--OBR-light-blue);
    outline: none;
    padding: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    background: var(--OBR-Purple-Select);
    cursor: pointer;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 4px;
    background: var(--OBR-Purple-Select);
    cursor: pointer;
}

/* Optional: Change the track's appearance */
input[type=range]::-webkit-slider-runnable-track {
    background: var(--OBR-light-blue);
    height: 10px;
}

input[type=range]::-moz-range-track {
    background: var(--OBR-light-blue);
    height: 20px;
}

input[type=text] {
    cursor: text;
    background-color: transparent;
    border: 2px solid var(--OBR-light-blue);
    font-weight: 800;
}

/* Remove number slider */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Scroll Bars */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--OBR-dark-blue);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--OBR-Purple-Select);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--OBR-Purple-Select);
}

/* Custom Styling */
.grid-container {
    height: 90%;
    width: 93%;
    padding: 6px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 2px;
}

.control-button
{
    background-color: transparent;
}
.button-svg
{
    height: 100%;
}

.selected,
button:hover {
    background-color: var(--OBR-Purple-Select-transparent);
}

.max
{
    width: 100%;
    height: 84%;
}
.pos-relative {
    position: relative;
    width: 100%;
    height: 100%;
}

.pos-absolute {
    position: fixed;
    display: flex;
    width: 100%;
    top: 45px;
    left: 0;
    bottom: 0;
}

/* Clocks */
.checkbox-svg {
    max-height: 140px;
    width: 100%;
    display: block;
}

.clocks-svg {
    width: 100%;
    max-height: 200px;
    display: block;
}

.checkbox-rect {
    stroke: var(--OBR-font);
}

.display-rect,
.display-text,
.clicker-control {
    fill: var(--OBR-dark-blue-transparent);
    stroke: var(--OBR-font);
}

.display-rect,
.display-text,
.clicker-control,
.checkbox-rect,
.checkmark {
    cursor: pointer;
    stroke-width: 2;
    pointer-events: auto;
}

.check-selected {
    stroke: var(--OBR-font);
    fill: var(--OBR-font);
}

path.slice {
    cursor: pointer;
    stroke-width: 2;
    pointer-events: auto;
    fill: transparent;
}

path.path-selected {
    fill: var(--OBR-Purple-Select-transparent);
}

/* Carousel */
.carousel-container {
    width: 100%;
    text-align: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    pointer-events: none;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    pointer-events: none;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    pointer-events: none;
}

/* Whats New */

.imageIcon {
    width: 20px;
    height: 20px;
    margin-left: 6px;
}

.Icon {
    padding: 0px 10px;
    vertical-align: text-bottom;
    height: 25px;
    width: 25px;
    filter: var(--invert);
}

.clickable:active {
    filter: var(--invert-click);
    transform: scale(1.5);
}

.clickable {
    filter: var(--invert);
    background-color: transparent !important;
    border-style: none !important;
    vertical-align: text-bottom;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

#patreonContainer {
    border: 1px solid var(--OBR-font);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.patreon-clickable {
    cursor: pointer;
    filter: var(--invert);
    background-color: transparent !important;
    border-style: none !important;
    height: 20px;
    width: 20px;
    padding: 2px;
    vertical-align: middle;
}